.espacio{
    margin-top: -10px;
}
.tamañoTitulo{
    font-size: 18px;
}
.menuRol{
    font-size:14px;
    text-align:left;
}

.itemsMenuRol{
    position: relative;
    display: -webkit-box;
    
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 12px 15px;
    font-size: 1.08em;
    border-left: 3px solid transparent;
    -webkit-transition: border-left-color 0.3s ease,
        background-color 0.3s ease;
    -o-transition: border-left-color 0.3s ease,
        background-color 0.3s ease;
    transition: border-left-color 0.3s ease,
        background-color 0.3s ease;
    color: #fff;
}